/*-- scss:defaults --*/
$navbar-bg: #0065bd !default;
$valuebox-bg-primary: #0065bd !default;

.value-box-title {
  font-size: 1.2em !important;
  color: white !important;
}

.bi {
  opacity: 1 !important;
}
